body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: clamp(20px, 5vw, 100px);
    flex-wrap: wrap;

    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
}

table {
    width: clamp(min(450px, 100vw), 35vw, 600px);
    height: clamp(min(450px, 100vw), 35vw, 600px);
    border-collapse: collapse;
}

td {
    border: 2px solid #000;
    position: relative;
}

td[data-player="cross"]::after, td[data-player="cross"]::before {
    --rotate: 45deg;
    position: absolute;
    content: '';
    border: clamp(2px, 1vw, 5px) solid #0c6e8f;
    width: clamp(45px, 10vw, 130px);
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--rotate));

    border-radius: 15px;
}

td[data-player="cross"]::before {
    --rotate: -45deg;
}

td[data-player="zero"]::after, td[data-player="zero"]::before {
    position: absolute;
    content: '';
    width: clamp(45px, 8vw, 120px);
    height: clamp(45px, 8vw, 120px);
    border: clamp(2px, .7vw, 8px) solid #ffff00;
    border-radius: 100%;

    right: 50%;
    left: 50%;
    top: 50%;
    bottom: 50%;

    transform: translate(-50%, -50%);
}

td[data-player="zero"]::before {
    width: clamp(25px, 6vw, 120px);
    height: clamp(25px, 6vw, 120px);
}

.count {
    display: flex;
    flex-direction: column;
    text-align: center;
}
