body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

table {
    width: clamp(200px, 40vw, 600px);
    height: clamp(200px, 40vw, 600px);
    border-collapse: collapse;
}

td {
    border: 2px solid #000;
    position: relative;
}

td[data-player="cross"]::after, td[data-player="cross"]::before {
    --rotate: 45deg;
    position: absolute;
    content: '';
    border: clamp(2px, 1vw, 5px) solid #0c6e8f;
    width: clamp(35px, 10vw, 130px);
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--rotate));

    border-radius: 10px;
}

td[data-player="cross"]::before {
    --rotate: -45deg;
}
  


td[data-player="zero"]::after, td[data-player="zero"]::before {
    position: absolute;
    content: '';
    width: clamp(35px, 8vw, 120px);
    height: clamp(35px, 8vw, 120px);
    border: clamp(1px, .7vw, 8px) solid #ffff00;
    border-radius: 100%;

    right: 50%;
    left: 50%;
    top: 50%;
    bottom: 50%;

    transform: translate(-50%, -50%);
}

td[data-player="zero"]::before {
    width: clamp(25px, 6vw, 120px);
    height: clamp(25px, 6vw, 120px);
}

